# General
BUILD_ROOT_DIR = '/tmp/aurpackager'

# Slack
SLACK_NOTIFICATION = False
SLACK_NOTIFICATION_URL = ''  # REQUIRED FOR SLACK_NOTIFICATION
AUR_PACKAGER_BASE_URL = ''  # REQUIRED FOR SLACK_NOTIFICATION

# Custom local repository
CUSTOM_LOCAL_REPOSITORY = False
CUSTOM_LOCAL_REPOSITORY_DIR = '/tmp/repo'
CUSTOM_LOCAL_REPOSITORY_NAME = 'repo'
