{% extends "base.html" %}

{% block title %}{{ package.name }} - Build Detail{% endblock title %}

{% block content %}
    <h3>{{ package.name }}</h3>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-secondary" href="{% url 'manager:package_detail' package_name=package.name %}">Back
                to Package Detail</a>
            <button class="btn btn-danger" onclick="openRemoveBuildModal('{{ package.name }}', '{{ build.number }}')">
                Remove
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Date</th>
                    <td>{{ build.date }}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>{{ build.version }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ build.status }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Artifacts</h4>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>sha256</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for artifact in artifacts %}
                    <tr>
                        <td>{{ artifact.name }}</td>
                        <td>{{ artifact.sha256 }}</td>
                        <td>
                            {% if is_success %}
                                <a class="btn btn-primary"
                                   href="{% url 'manager:build_download' package_name=artifact.name build_number=build.number %}"
                                   download>Download</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Build Log</h4>
            <pre class="bg-faded">
                {{ log | safe }}
            </pre>
        </div>
    </div>
    <script>
        function sendRemoveBuildQuery(name, number) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:remove_build' %}",
                data: {"name": name, "number": number},
                dataType: 'json'
            }).then(() => {
                $('#modal').modal('toggle');
                window.location.href = "{% url 'manager:package_detail' package_name=package.name %}";
            }).fail((e) => {
                initializeModalWindow();
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
            });
        }

        function openRemoveBuildModal(name, number) {
            initializeModalWindow();
            window.event.cancelBubble = true;
            const label = document.getElementById('modalLabel');
            label.innerHTML = "Remove " + name + ' build ' + number;
            const content = document.getElementById('modalContent');
            content.innerHTML = '<div class="row">\n' +
                '<div class="col-xs-12">\n' +
                'Remove ' + name + ' build ' + number + '?\n' +
                '</div></div>\n';
            const extraModalFooter = document.getElementById('extraModalFooter');
            extraModalFooter.innerHTML = '<button type="submit" class="btn btn-danger" id="sendRemoveQueryButton">Remove</button>';
            const button = document.getElementById('sendRemoveQueryButton');
            button.onclick = function () {
                sendRemoveBuildQuery(name, number);
            };
            $('#modal').modal('toggle');
        }
    </script>
{% endblock content %}
