{% extends "base.html" %}

{% block title %}Package List{% endblock title %}

{% block nav %}
    <form action="javascript:void(0)" class="form-inline pull-xs-right">
        <button onclick="sendSystemUpgradeQuery()" class="btn btn-primary-outline">System Upgrade</button>
        <button onclick="sendBuildUpdateQuery()" class="btn btn-primary-outline">Build Update</button>
        <button onclick="sendInstallAllQuery()" class="btn btn-primary-outline">Install All</button>
        <button onclick="sendBuildAllQuery()" class="btn btn-primary-outline">Build All</button>
    </form>
{% endblock nav %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Package List</h3>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Build Status</th>
                    <th>Ignore</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for package in packages %}
                    <tr data-href="{% url 'manager:package_detail' package_name=package.name %}"
                        class="clickable-pointer">
                        <td>{{ package.name }}</td>
                        <td>{{ package.status }}</td>
                        <td>{{ package.ignore }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary"
                                    onclick="sendBuildQuery('{{ package.name }}')">
                                Build
                            </button>
                            <a class="btn btn-primary"
                               href="{% url 'manager:build_download' package_name=package.name build_number=1 %}"
                               onclick="window.event.cancelBubble = true;"
                               download>Download
                            </a>
                            <button type="submit" class="btn btn-primary"
                                    onclick="sendIgnoreQuery('{{ package.name }}')">
                                Ignore
                            </button>
                            <button type="submit" class="btn btn-danger"
                                    onclick="openRemoveModal('{{ package.name }}')">
                                Remove
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="application/javascript">
        function sendBuildAllQuery() {
            $.ajax({
                url: "{% url 'api:package_build_all' %}",
                dataType: 'json'
            }).then(function () {
                window.location.reload(true);
            });
        }

        function sendBuildUpdateQuery() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_build_all' %}",
                data: {"only_update": true},
                dataType: 'json'
            }).then(function () {
                window.location.reload(true);
            });
        }

        function sendInstallAllQuery() {
            $.ajax({
                url: "{% url 'api:package_install_all' %}",
                dataType: 'json'
            });
        }

        function sendSystemUpgradeQuery() {
            $.ajax({
                url: "{% url 'api:system_upgrade' %}",
                dataType: 'json'
            });
        }

        function sendRemoveQuery(name) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_remove' %}",
                data: {"name": name, "cleanup": document.getElementById('cleanup').checked},
                dataType: 'json'
            }).then(function () {
                $('#modal').modal('toggle');
                window.location.reload(true);
            }).fail(function (e) {
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
            });
        }

        function sendBuildQuery(name) {
            window.event.cancelBubble = true;
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_build' %}",
                data: {"name": name},
                dataType: 'json'
            }).then(function () {
                window.location.reload(true);
            }).fail(function (e) {
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }

        function openRemoveModal(name) {
            window.event.cancelBubble = true;
            const label = document.getElementById('modalLabel');
            label.innerHTML = "Remove " + name;

            const content = document.getElementById('modalContent');
            content.innerHTML =
                    `<div class="row">
                    <div class="col-xs-12">
                    Remove ` + name + `?
                    </div></div>
                    <div class="row">
                    <div class="col-xs-12">
                    <form class="form-inline" action="javascript:void(0)">
                    <fieldset class="form-group">
                    <button type="submit" class="btn btn-danger" id="sendRemoveQueryButton">Remove</button>
                    <label for="cleanup">Remove build result completely</label>
                    <input type="checkbox" id="cleanup" checked>
                    </fieldset>
                    </form>
                    </div></div>`;
            const button = document.getElementById('sendRemoveQueryButton');
            button.onclick = function () {
                sendRemoveQuery(name);
            };
            $('#modal').modal('toggle');
        }

        function sendIgnoreQuery(name) {
            window.event.cancelBubble = true;
            $.ajax({
                type: 'POST',
                url: "{% url 'api:toggle_ignore' %}",
                data: {"name": name},
                dataType: 'json'
            }).then(function () {
                window.location.reload(true);
            }).fail(function (e) {
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }
    </script>
{% endblock content %}
