{% extends "base.html" %}

{% block title %}Package Build{% endblock title %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'manager:package_list' %}">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'manager:package_detail' package_name=package.name %}">{{ package.name }}</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Trigger Build</a>
    </li>
{% endblock nav %}

{% block content %}
    <h3 class="page-header">{{ package.name }} build triggered</h3>
    <a class="btn btn-success" href="{% url 'manager:package_detail' package_name=package.name %}">Back to package</a>
{% endblock content %}
