{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
    <h3>Register</h3>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" action="javascript:void(0)">
                <fieldset class="form-group">
                    <label for="packageName">Package Name</label>
                    <input type="text" class="form-control" id="packageName" placeholder="Package name" required>
                    <label for="AURServer">Server</label>
                    <select class="custom-select" id="AURServer">
                        {% for server in servers %}
                            <option value="{{ server }}"
                                    {% if server == OFFICIAL %}selected{% endif %}>{{ server }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary" onclick="sendQuery()">Search</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="resultTable">
            </div>
        </div>
    </div>
    <script type="application/javascript">
        'use strict';

        function sendQuery() {
            var name = document.getElementById('packageName').value;
            const server = document.getElementById('AURServer').value;
            if (!name) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_search' %}",
                data: {"name": name, "server": server},
                dataType: 'json'
            }).then(function (results) {
                var table = document.createElement('table');
                table.className += " table table-striped table-bordered table-hover";
                var header = table.createTHead();
                var hrow = header.insertRow();
                hrow.insertCell(0).innerHTML = "Name";
                hrow.insertCell(1).innerHTML = "AUR";
                var body = document.createElement('tbody');
                table.appendChild(body);
                var _iteratorNormalCompletion = true;
                var _didIteratorError = false;
                var _iteratorError = undefined;

                try {
                    for (var _iterator = results[Symbol.iterator](),
                             _step; !(_iteratorNormalCompletion = (_step = _iterator.next()).done); _iteratorNormalCompletion = true) {
                        var result = _step.value;

                        var row = body.insertRow();
                        row.className += " clickable-pointer";
                        row.setAttribute('data-href', "{% url 'manager:package_register_detail' package_name='' %}" + result['Name']);
                        row.insertCell(0).innerHTML = result['Name'];
                        row.insertCell(1).innerHTML = "<a href=" + result['aur_url'] + ">View on AUR</a>";
                    }
                } catch (err) {
                    _didIteratorError = true;
                    _iteratorError = err;
                } finally {
                    try {
                        if (!_iteratorNormalCompletion && _iterator.return) {
                            _iterator.return();
                        }
                    } finally {
                        if (_didIteratorError) {
                            throw _iteratorError;
                        }
                    }
                }

                var root = document.getElementById('resultTable');
                // remove current children
                while (root.firstChild) {
                    root.removeChild(root.firstChild);
                }
                root.appendChild(table);
                enableTableRowClick();
            });
        }
    </script>
{% endblock content %}
