{% extends "base.html" %}

{% block title %}Package Detail{% endblock title %}

{% block content %}
    <h3 class="page-header">Package Detail</h3>

    <a href="{% url 'manager:package_list' %}">Package List</a>
    <form action="{% url 'manager:package_build' package_id=package_id %}" method="get" class="form-horizontal"
          role="form">
        <button type="submit" class="btn btn-primary">Build!</button>
    </form>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            <tr>
                <td>
                    <a href="{% url 'manager:build_detail' package_id=package_id build_id=build.id %}">{{ build.number }}</a>
                </td>
                <td>{{ build.date }}</td>
                <td>{{ build.version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
