{% extends "base.html" %}
{% load extra_tags %}

{% block title %}{{ package.name }} - Package Detail{% endblock title %}

{% block content %}
    <h3>{{ package.name }}</h3>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-secondary" href="{% url 'manager:package_list' %}">Back
                to Package List</a>
            {% if package.ignore %}
                <button type="submit" class="btn btn-primary"
                        onclick="sendIgnoreQuery('{{ package.name }}')">
                    Disable ignore
                </button>
            {% else %}
                <button type="submit" class="btn btn-primary"
                        onclick="sendIgnoreQuery('{{ package.name }}')">
                    Enable ignore
                </button>
            {% endif %}
            <button type="submit" class="btn btn-primary"
                    onclick="sendBuildQuery()">
                Build
            </button>
            <button type="submit" class="btn btn-primary"
                    onclick="openCleanupModal('{{ package.name }}')">
                Cleanup
            </button>
            <button type="submit" class="btn btn-danger"
                    onclick="openRemoveModal('{{ package.name }}')">
                Remove
            </button>
            <a href="{% aur_package_url package.name %}"
               class="btn btn-info">AUR</a>
        </div>
    </div>
    <h4>Latest Artifacts</h4>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for artifact in artifacts %}
                    <tr>
                        <td>{{ artifact.name }}</td>
                        <td>
                            <a class="btn btn-primary"
                               href="{% url 'manager:build_download' package_name=artifact.name build_number=1 %}"
                               download>Download</a>
                            <button onclick="sendInstallQuery('{{ artifact.name }}')"
                                    class="btn btn-primary">Install to server
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h4>Builds</h4>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Build</th>
                    <th>Date</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for build in builds %}
                    <tr data-href="{% url 'manager:build_detail' package_name=package.name build_number=build.number %}"
                        class="clickable-pointer">
                        <td>{{ build.number }}</td>
                        <td>{{ build.date }}</td>
                        <td>{{ build.version }}</td>
                        <td>{{ build.status }}</td>
                        <td>
                            <button class="btn btn-danger"
                                    onclick="openRemoveBuildModal('{{ package.name }}', '{{ build.number }}')">Remove
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="application/javascript">
        "use strict";

        function sendInstallQuery(name) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_install' %}",
                data: {"name": name},
                dataType: 'json'
            }).fail((e) => {
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }

        function sendBuildQuery() {
            window.event.cancelBubble = true;
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_build' %}",
                data: {"name": "{{ package.name }}"},
                dataType: 'json'
            }).then(() => {
                window.location.reload(true);
            }).fail((e) => {
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }

        function sendIgnoreQuery(name) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:toggle_ignore' %}",
                data: {"name": name},
                dataType: 'json'
            }).then(() => {
                window.location.reload(true);
            }).fail((e) => {
                initializeModalWindow();
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }

        function openCleanupModal(name) {
            initializeModalWindow();
            window.event.cancelBubble = true;
            const label = document.getElementById('modalLabel');
            label.innerHTML = "Cleanup " + name;
            const content = document.getElementById('modalContent');
            content.innerHTML = '<div class="row">\n' +
                '<div class="col-xs-12">\n' +
                'Remove failure and old success build?\n' +
                '</div></div>\n';
            const extraModalFooter = document.getElementById('extraModalFooter');
            extraModalFooter.innerHTML = '<button type="submit" class="btn btn-primary" id="sendRemoveQueryButton">Cleanup</button>';
            const button = document.getElementById('sendRemoveQueryButton');
            button.onclick = function () {
                sendCleanupQuery(name);
            };
            $('#modal').modal('toggle');
        }

        function sendCleanupQuery() {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:cleanup' %}",
                data: {"name": "{{ package.name }}"},
                dataType: 'json'
            }).then(() => {
                window.location.reload(true);
            }).fail((e) => {
                $('#modal').modal('toggle');
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
                const label = document.getElementById('modalLabel');
                label.innerHTML = "Error";
            });
        }

        function sendRemoveQuery(name) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_remove' %}",
                data: {"name": name, "cleanup": document.getElementById('cleanup').checked},
                dataType: 'json'
            }).then(() => {
                $('#modal').modal('toggle');
                window.location.href = {% url 'manager:package_list' %};
            }).fail((e) => {
                initializeModalWindow();
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
            });
        }

        function sendRemoveBuildQuery(name, number) {
            $.ajax({
                type: 'POST',
                url: "{% url 'api:remove_build' %}",
                data: {"name": name, "number": number},
                dataType: 'json'
            }).then(() => {
                $('#modal').modal('toggle');
                window.location.reload(true);
            }).fail((e) => {
                initializeModalWindow();
                const content = document.getElementById('modalContent');
                content.innerHTML = e.responseText;
            });
        }

        function openRemoveBuildModal(name, number) {
            initializeModalWindow();
            window.event.cancelBubble = true;
            const label = document.getElementById('modalLabel');
            label.innerHTML = "Remove " + name + ' build ' + number;
            const content = document.getElementById('modalContent');
            content.innerHTML = '<div class="row">\n' +
                '<div class="col-xs-12">\n' +
                'Remove ' + name + ' build ' + number + '?\n' +
                '</div></div>\n';
            const extraModalFooter = document.getElementById('extraModalFooter');
            extraModalFooter.innerHTML = '<button type="submit" class="btn btn-danger" id="sendRemoveQueryButton">Remove</button>';
            const button = document.getElementById('sendRemoveQueryButton');
            button.onclick = function () {
                sendRemoveBuildQuery(name, number);
            };
            $('#modal').modal('toggle');
        }

        function openRemoveModal(name) {
            initializeModalWindow();
            window.event.cancelBubble = true;
            const label = document.getElementById('modalLabel');
            label.innerHTML = "Remove " + name;
            const content = document.getElementById('modalContent');
            content.innerHTML = '<div class="row">\n' +
                '<div class="col-xs-12">\n' +
                'Remove ' + name + '?\n' +
                '</div></div>\n' +
                '<div class="row">\n' +
                '<div class="col-xs-12">\n' +
                '<form class="form-inline" action="javascript:void(0)">\n' +
                '<fieldset class="form-group">\n' +
                '<label for="cleanup">Remove build result completely</label>\n' +
                '<input type="checkbox" id="cleanup" checked>\n' +
                '</fieldset>\n' +
                '</form>\n' +
                '</div></div>';
            const extraModalFooter = document.getElementById('extraModalFooter');
            extraModalFooter.innerHTML = '<button type="submit" class="btn btn-danger" id="sendRemoveQueryButton">Remove</button>';
            const button = document.getElementById('sendRemoveQueryButton');
            button.onclick = function () {
                sendRemoveQuery(name);
            };
            $('#modal').modal('toggle');
        }
    </script>
{% endblock content %}
