{% extends "base.html" %}

{% block title %}Package Register Detail{% endblock title %}

{% block content %}
    <h3>Package Register Detail</h3>
    <form class="form-inline" action="javascript:void(0)">
        <fieldset class="form-group">
            <button type="submit" class="btn btn-primary" onclick="sendQuery()">Register</button>
            <label for="withDepend">with dependencies</label>
            <input type="checkbox" id="withDepend" checked>
        </fieldset>
    </form>
    <div id="resultTable">
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Register {{ package_name }}</h4>
                </div>
                <div class="modal-body" id="modalContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="location={% url 'manager:package_list' %} ">Go to Top</button>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        onload = getInfo();
        function getInfo() {
            const name = "{{ package_name }}";
            if (!name) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_info' %}",
                data: {"name": name},
                dataType: 'json'
            }).then(function (result) {
                const table = document.createElement('table');
                table.className += " table table-striped table-bordered table-hover";
                const header = table.createTHead();
                const hrow = header.insertRow();
                hrow.insertCell(0).innerHTML = "Key";
                hrow.insertCell(1).innerHTML = "Value";
                const body = document.createElement('tbody');
                table.appendChild(body);
                let keys = [];
                keys.push('Name');
                keys.push('Version');
                keys.push('PackageBase');
                keys.push('Description');
                keys.push('URL');
                keys.push('Keywords');
                keys.push('License');
                keys.push('Conflicts');
                keys.push('Maintainer');
                keys.push('NumVotes');
                keys.push('Popularity');
                keys.push('Depends');
                keys.push('MakeDepends');
                keys.push('OptDepends');
                keys.forEach(function (key) {
                    const row = body.insertRow();
                    row.insertCell(0).innerHTML = key;
                    row.insertCell(1).innerHTML = result[key];
                });
                let timeKeys = [];
                timeKeys.push('FirstSubmitted');
                timeKeys.push('LastModified');
                timeKeys.push('OutOfDate');
                timeKeys.forEach(function (key) {
                    const row = body.insertRow();
                    row.insertCell(0).innerHTML = key;
                    row.insertCell(1).innerHTML = new Date(result[key] * 1000).toISOString();
                });
                const root = document.getElementById('resultTable');
                // remove current children
                while (root.firstChild) {
                    root.removeChild(root.firstChild);
                }
                root.appendChild(table);
            });
        }
        function sendQuery() {
            function openModal(keys, result) {
                const table = document.createElement('table');
                table.className += " table table-striped table-bordered table-hover";
                const header = table.createTHead();
                const hrow = header.insertRow();
                hrow.insertCell(0).innerHTML = "Key";
                hrow.insertCell(1).innerHTML = "Value";
                const body = document.createElement('tbody');
                table.appendChild(body);
                keys.forEach(function (key) {
                    const row = body.insertRow();
                    row.insertCell(0).innerHTML = key;
                    row.insertCell(1).innerHTML = result[key];
                });

                const content = document.getElementById('modalContent');
                while (content.firstChild) {
                    content.removeChild(content.firstChild);
                }
                content.appendChild(table);
                $('#myModal').modal('toggle');
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'api:package_register' %}",
                data: {"name": "{{ package_name }}", "depend": document.getElementById('withDepend').checked},
                dataType: 'json'
            }).then(function (result) {
                const keys = [];
                keys.push('native');
                keys.push('foreign');
                openModal(keys, result);
            }).fail(function (e) {
                const keys = [];
                keys.push('detail');
                openModal(keys, JSON.parse(e.responseText));
            });
        }
    </script>
{% endblock content %}
