{% extends "base.html" %}

{% block title %}Package Detail{% endblock title %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'manager:package_list' %}">List</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">{{ package_name }}</a>
    </li>
{% endblock nav %}

{% block content %}
    <a onclick="sendQuery()" class="btn btn-success">Build!</a>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            <tr data-href="{% url 'manager:build_detail' package_name=package_name build_number=build.number %}"
                class="clickable-pointer">
                <td>{{ build.number }}</td>
                <td>{{ build.date }}</td>
                <td>{{ build.version }}</td>
                <td>{{ build.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="application/javascript">
        function sendQuery() {
            $.ajax({
                url: "{% url 'manager:package_build' package_name=package_name %}",
                dataType: 'json'
            }).then((data) => {
                        if (data['result']) {
                            location.reload();
                        }
                    }
            );
        }
    </script>
{% endblock content %}
